numpy
pandas
matplotlib
streamlit
seaborn
FinanceDataReader
tkinter.tix
pyparsing
datetime
altair
openai==1.3.2
bs4
requests
selenium
collections
wordcloud
konlpy.tag
matplotlib.font_manager
