numpy
pandas
matplotlib
streamlit
seaborn
FinanceDataReader
tkinter.tix
pyparsing
datetime
altair
openai==0.25.0
bs4
requests
selenium
collections
wordcloud
konlpy.tag
matplotlib.font_manager
